<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel=stylesheet type=text/css href="../static/style.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
  <title>Todo App</title>
</head>

<body>
    <header>
      <h1>Todo App</h1>
    </header>

    <main>
      <form action="/add" method="post">
        <div>
          <label for="title">Todo Title</label>
          <input type="text" name="title" placeholder="Enter Todo...">
          <button type="submit">Add</button>
        </div>
      </form>

      <!-- Going through all the todolist and displaying them.-->
      {% for todo in todo_list %}
      <p>i{{todo.id}} | {{todo.title}}</p>

      {% if todo.complete == False %}
      <span>Not Complete</span>
      {%else%}
      <span>Complete</span>
      {%endif%}
        <a href="/update/{{todo.id}}">Update</a>
        <a href="/delete/{{todo.id}}">Delete</a>
      {%endfor%}
    </main>

    <footer>
      <h4><a href="https://www.github.com/yatesytea">YatesyTea Github</a></h4>
    </footer>
</body>

</html>
